
<div *ngIf="!openAdd" class="searchBar mr-3">
 <div>
   <mat-form-field class="mr-2">
     <mat-select [(ngModel)]="filtro" placeholder="Filtrar">
       <mat-option value="nombre">Nombre</mat-option>
       <mat-option value="planta">Planta</mat-option>
     </mat-select>
   </mat-form-field>
   <mat-form-field class="mr-1" >
     <mat-label>Buscar</mat-label>
     <!-- <span matPrefix>+1 &nbsp;</span>-->
     <input [(ngModel)]="keyWord"  type="text" matInput placeholder="palabra clave">
     <mat-icon (click)="busqueda()" style="cursor: pointer" matSuffix>search</mat-icon>
   </mat-form-field>
   <button (click)="limpiarFiltros()" mat-icon-button> <mat-icon>refresh</mat-icon></button>

 </div><div class="cambiarVista">
    <mat-icon (click)="vista = 'mosaico'">grid_view</mat-icon>
    <mat-icon (click)="vista = 'tabla'">view_list</mat-icon>
  </div>

</div>

<div *ngIf="!openAdd" class="mt-2">
  <div *ngIf="vista == 'mosaico'">
    <div *ngIf="!openAdd" class="container-fluid">
      <div class="row">
        <div class="col-4 mt-3" *ngFor="let obj of dataList;let i = index">
          <mat-card>
          <!--  <mat-card-header class="cardHeader">
              <mat-card-title>{{entityName}}</mat-card-title>
              &lt;!&ndash; <mat-card-subtitle>{{obj.nombre}}</mat-card-subtitle>&ndash;&gt;
            </mat-card-header>-->
            <mat-card-content class="cardContent">
              <div *ngFor="let key of keys()">
                <p *ngIf="showField(key)">{{key}}:
                  {{key == 'createdAt' || key == 'updatedAt' ? toReadableDate(obj[key]) : obj[key] === false ? 'no': obj[key] === true ? 'si':
                    obj[key] }}
                </p>


              </div>
              <p>Nombre planta: {{obj.idplanta_plantum.nombre}}</p>
             </mat-card-content>
            <mat-card-actions>
              <button class="btn btn-primary btn-block" (click)="enviar(obj)">Editar</button>
              <button class="btn btn-danger btn-block" (click)="delete(obj)">Eliminar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>

  </div>
  <div *ngIf="vista == 'tabla'">
    <table *ngIf="dataList.length>0" class="table table-sm table-bordered">
      <thead>
      <tr>
        <!-- <th scope="col">#</th>-->
        <th scope="col" [hidden]="th == 'selected'|| th == 'foto' || th == 'idplanta_plantum'
     || th == 'idplanta'|| th == 'updatedAt' || th == 'createdAt' " *ngFor="let th of keys()">{{th}}</th>
        <th scope="col" *ngFor="let th of keys()" [hidden]=" th != 'idplanta_plantum'">Planta</th>
        <th style="width: 10px">Editar</th>
        <th style="width: 10px">Borrar</th>
      </tr>
      </thead>
      <tr *ngFor="let obj of dataList;let i = index">
        <!-- <th scope="row">{{i}}</th>-->
        <td [hidden]="key == 'selected'|| key == 'foto'
     || key == 'idplanta'|| key == 'updatedAt' || key == 'createdAt'" *ngFor="let key of keys()">
          {{key == 'createdAt' || key == 'updatedAt' ? toReadableDate(obj[key]) :
          key == 'idplanta_plantum' ? obj[key].nombre: obj[key] }}
        </td>


        <td>
          <button (click)="enviar(obj)" class="btn btn-success btn-sm">Editar</button>
        </td>
        <td>
          <button (click)="delete(obj)" class="btn btn-danger btn-sm">Borrar</button>
        </td>


      </tr>

    </table>

  </div>

</div>

<div *ngIf="isLoading" style="position: absolute;margin: auto;left: 0;right: 0;top: 50%" class="spinner-border"
     role="status">
  <span class="sr-only">Loading...</span>
</div>




<div class="openAddMenu">
  <div *ngIf="!openAdd" (click)="openMenuAdd()">
    <mat-icon>
      add
    </mat-icon>
    <p>Agregar {{entityName}}</p>
  </div>
  <div *ngIf="openAdd" (click)="openMenuAdd()">
    <mat-icon>
      arrow_back
    </mat-icon>
    <p>Volver</p>
  </div>
</div>


<app-process-manager (hide)="changeHide($event)" *ngIf="openAdd"></app-process-manager>
