<div class="card mt-4" >
  <h4 (click)="ocultar()" class="card-header">Maquina 1</h4>
  <div *ngIf="oculto" class="card-body">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a  >Especificaciones</a>
      </li>
      <li class="nav-item">
        <a  >Productos</a>
      </li>
      <li class="nav-item">
        <a  >Mantenimiento y Paradas</a>
      </li>
      <li class="nav-item">
        <a  >Repuestos</a>
      </li>
      <li class="nav-item">
        <a  >Productos</a>
      </li>
    </ul>

  </div>
</div>
