
<div class="tod">
  <app-print-boton></app-print-boton>
  <div class="cajaRoot">
  <div class="sCaja1">
    <div class="logoE ">
      <img src="{{fotoEmpresa}}" alt="">

    </div>
    <div style="display: flex;justify-content:center">
      <div class="fotoUsr ">
        <img src="{{fotoUsr}}" alt="">
      </div>

    </div>
    </div>
  <div class="sCaja2">
    <div class="fotoQR ">
      <qrcode qrdata="{{dataQR | json}}" [scale]="1"  [width]="2" [errorCorrectionLevel]="'M'"></qrcode>

    </div>
    <div class="infoUsr ">
      <p><b>Nombre: </b>{{data.usr.nombre}} {{data.usr.apellido}}</p>
      <p><b>Cargo: </b> {{data.usr.role}}</p>
    </div>

      <div class="logoIgr ">
        <img src="assets/iGr-6.png" alt="">
      </div>

  </div>
</div>

</div>
<!--<div class="row">
  <div class="col-5 bor">
    <img src="" alt="">
    <img src="" alt="">
  </div>
  <div class="col-7 bor">
    <h2>Nombre: </h2>
    <h2>Cargo: </h2>
    <img src="" alt="">
  </div>
</div-->
