<!--
<div class=" seleccion">
  <div class="row">
    <div *ngFor="let obj of entitiesList" class="col-4">
      <mat-card  [routerLink]="['/maquina', obj.id]" class="aItem"><p   >{{obj.nombre}}</p></mat-card>
    </div>
  </div>


</div>
-->
<div *ngIf="loading" class="container-fluid">
  <app-mi-loader></app-mi-loader>

</div>
<div class="turnSelect">
  <h1>Seleccion de turno</h1>
</div>

<div class="container-fluid">
  <div class="row"> <div class="col-12" *ngIf="entitiesList.length == 0">
      <p style="color: crimson">No existen máquinas</p>
    </div>
    <div class="col-4 mt-3" *ngFor="let obj of entitiesList;let i = index">
      <mat-card [routerLink]="['/maquina', obj.id]">
        <mat-card-content class="cardContent">
          <mat-card-title>
            {{obj.nombre}}
          </mat-card-title>

        </mat-card-content>
        <div class="linea"></div>
        <div class="infoCnt mt-4">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <!--<div class="col-9">
                  <p>STD Producción</p>
                </div>
                <div class="col-3">
                  <p>0</p>
                </div>
                <div class="col-9">
                  <p>Velocidad Prom</p>
                </div>
                <div class="col-3">
                  <p>0</p>
                </div>-->
                <div class="col-9">
                  <p>Fallas Turno Ant</p>
                </div>
                <div class="col-3">
                  <p>0</p>
                </div>
              </div>
            </div>

            <div class="col-6">
              <app-indicador-vista-empresa chico="0.7" label="OEE" [valu]="obj.oee?.oee || 0"
                                           style="position:absolute;top:-70px;margin-left: -50px;width: 84px;height: 84px ">

              </app-indicador-vista-empresa>
            </div>


          </div>
        </div>
      </mat-card>

    </div>
    <div class="col-12">
      <div class="mt-5" style="margin: auto;width: fit-content">
        <button style="width: 300px" class="btn btn-primary btn-block" [routerLink]="'/procesos/todos'" >Volver</button>
      </div>
    </div>
  </div>

</div>
