<div class="cnt">
  <div class="header">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.4 0 0 5.4 0 12C0 18.6 5.4 24 12 24C18.6 24 24 18.6 24 12C24 5.4 18.6 0 12 0V0ZM9.6 18L3.6 12L5.28 10.32L9.6 14.64L18.72 5.52L20.4 7.2L9.6 18V18Z" fill="#2FA84F"/>
    </svg>

    <h1>Registro produccion {{data.text.substring(0,5)}}</h1>
    <svg mat-dialog-close width="44" height="46" viewBox="0 0 44 46" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="6" y="2" width="32" height="28" rx="4" fill="url(#paint0_linear)"/>
      <g filter="url(#filter0_dd)">
        <path d="M27.6 11.5279L26.472 10.3999L22 14.8719L17.528 10.3999L16.4 11.5279L20.872 15.9999L16.4 20.4719L17.528 21.5999L22 17.1279L26.472 21.5999L27.6 20.4719L23.128 15.9999L27.6 11.5279Z" fill="white"/>
      </g>
      <defs>
        <filter id="filter0_dd" x="0.400024" y="2.3999" width="43.2" height="43.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="4"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.0295189 0 0 0 0 0.137798 0 0 0 0 0.187773 0 0 0 0.16 0"/>
          <feBlend mode="multiply" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="8"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.0295189 0 0 0 0 0.137798 0 0 0 0 0.187773 0 0 0 0.1 0"/>
          <feBlend mode="multiply" in2="effect1_dropShadow" result="effect2_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape"/>
        </filter>
        <linearGradient id="paint0_linear" x1="6" y1="16" x2="38" y2="16" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFB199"/>
          <stop offset="1" stop-color="#FF0844"/>
        </linearGradient>
      </defs>
    </svg>

  </div>
  <div class="text">
    <p>
      Anotar la cantidad de producción correspondiente a las  {{data.text.substring(0,5)}}
    </p>
  </div>
    <button (click)="registrar()" class="btn btn-success mr-3">Registrar</button>
    <mat-form-field>
      <input matInput placeholder="Cantidad" type="number" [(ngModel)]="cantidadInput">
    </mat-form-field>

</div>
